.switch {
  z-index: 10;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  
  input.cmn-toggle-round + label {
    width: 80px;
    height: 22px;
    background-color: #dddddd;
  }

  
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }

  
  input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: red;
    transition: background 0.4s;
  }

  
  input.cmn-toggle-round + label:after {
    height: 20px;
    width: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;

  }


  input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
  }
  
  input.cmn-toggle-round:checked + label:after {
    margin-left: 48px;
  }




.btn-step-tail {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background-color: #f8f9fa;
  /* border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
   */
  border-radius: 17px 17px 0px 0px;

  border-bottom: #ffff;
 width: 80px;
  height: 40px;
  overflow: hidden;
  margin-right: -13px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2), 4px 1px 3px rgba(0, 0, 0, 0.4);
  z-index: 1;
}


.btn-step-tail:hover {
  width: 120px;
}

.tail-text {
  position: relative;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 0.9rem;
  width: 4ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.btn-step-tail:hover .tail-text {
  width: 20ch;
}


.btn-step-tail.open {
  width: 125px;
  background-color: #8b537e;
}

.tail-text.open {
  width: 20ch;
}


.circle-tail {
  position: absolute;
  height: 7px;
  top: 7px;
  right: 7px;
  width: 7px;
  background-color: #eeebebee;
  /* border: 1px solid #000; */
  border-radius: 50%;
}

/* .tail-text.collapsed {
 width: 4ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

} */


/* .btn-step-tail h2 {
  text-align: center;
  font-size: 1rem;
  margin-top: 22px;

} */

.tail-cont-a4, .tail-cont-web {
  top: 1px;
  align-content: start;
  /* width: 100%; */
  width: min-content;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: start;
  position: relative;
  margin-left: 2rem;
  cursor: pointer;
  z-index: -1;
  /* gap: 10px; */
}
